$black: #222;
$white: #fff;
$gray: #eaeaea;
$lightgray: #f8f8f8;
$red: #990000;

/* Color Theme Swatches in Hex */
$blue: #022859;
$yellow: #f2c879;
$green: #4f5e57;
$purple: #4c3046;
$orange: #803d37;

$nunito: "Nunito Sans", sans-serif;

// sass --watch components/scss/styles.scss:dist/css/styles.css
