$black: #222;
$white: #fff;
$gray: #eaeaea;
$lightgray: #f8f8f8;
$red: #990000;

/* Color Theme Swatches in Hex */
$blue: #022859;
$yellow: #f2c879;
$green: #4f5e57;
$purple: #4c3046;
$orange: #803d37;

$nunito: "Nunito Sans", sans-serif;

/* Color Theme Swatches in RGBA */
$color-theme_IMG_4059-1-rgba: rgba(2, 40, 89, 1);
$color-theme_IMG_4059-2-rgba: rgba(242, 200, 121, 1);
$color-theme_IMG_4059-3-rgba: rgba(79, 94, 87, 1);
$color-theme_IMG_4059-4-rgba: rgba(76, 48, 70, 1);
$color-theme_IMG_4059-5-rgba: rgba(128, 61, 55, 1);

/* Color Theme Swatches in HSLA */
$color-theme_IMG_4059-1-hsla: hsla(213, 95, 17, 1);
$color-theme_IMG_4059-2-hsla: hsla(39, 82, 71, 1);
$color-theme_IMG_4059-3-hsla: hsla(152, 8, 33, 1);
$color-theme_IMG_4059-4-hsla: hsla(312, 22, 24, 1);
$color-theme_IMG_4059-5-hsla: hsla(4, 39, 35, 1);

// sass --watch components/scss/styles.scss:dist/css/styles.css
