.latest-videos {
	padding: 50px 20px;
}

.section_title {
	font-size: 0.85rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $green;
}

.border {
	margin-top: 2rem;
	padding-top: 1rem;
	border-top: 1px solid $gray;
}

.section_desc {
	position: relative;
	top: -45px;
	display: inline-block;
	margin: 0;
	padding: 10px 10px 10px 0;
	background-color: $white;
	line-height: 1;
	font-size: 2rem;
	font-weight: 300;
	font-style: italic;
	text-transform: lowercase;
}

#videos {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 0 0 25px;

	.video {
		flex: 0 0 32%;
		max-width: 32%;
		background-color: $white;
		box-shadow: 0 0 2px 2px rgba($black, 0.1);
	}

	.title_container {
		padding: 20px;

		.pub-date {
			margin: 0 0 0.5rem;
			font-size: 0.9rem;
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $orange;
		}

		.latestTitle {
			font-size: 1.1rem;
			font-weight: 600;
			margin: 0;
		}
	}

	.latestVideo {
		position: relative;
		height: 0;
		margin: 0;
		padding-bottom: 56.25%;

		iframe {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media (max-width: 768px) {
		flex-flow: column wrap;

		.video {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 1rem;
		}
	}
}
